<ion-content >
	<ion-grid no-padding>
		<ion-row class="page-title-bg-modal" text-left>
			<ion-col>

				<h3 class="font2 page-title-modal">SaifuDeen </h3>		
				<img (click)="closedata()" hidden="true" src="/assets/img/close.png" class="img-back img-back-img">
				<img (click)="closedata()" src="/assets/img/save.png" class="img-back img-back-img">
			</ion-col>
		</ion-row>
	</ion-grid>

	<ion-grid >
		<ion-row>
			<ul class="timeline">
				<li>
					
					<h3 class="font task-name">Fajar</h3>
					<ion-row class="mb-10">
							<ion-col size="12">
								<ion-input class="input font" placeholder="Fajar Value" type="text" ></ion-input>
							</ion-col>
					</ion-row>			
					
				</li>

				<li>
					<h3 class="font task-name">Maghrib</h3>
					<ion-row class="mb-10">
							<ion-col size="12">
								<ion-input class="input font" placeholder="Maghrib Value" type="text" ></ion-input>
							</ion-col>
					</ion-row>			
					
				</li>

				<li>
					<h3 class="font task-name">Ibrahim</h3>
					<ion-row class="mb-10">
							<ion-col size="12">
								<ion-input class="input font" placeholder="Ibrahim Value" type="text" ></ion-input>
							</ion-col>
					</ion-row>			
					
				</li>			
			</ul> 

		</ion-row>	

	</ion-grid>

	

</ion-content>		
